<div class="spacer"></div>


<div class="result">
    <div class="col-md-6">
        <p>Name @Model.Name</p>    
    </div>
    <div class="col-md-6">
        <p>ID: @Model.Id</p>
    </div>
</div>



<div class="spacer"></div>
