@model Pokemon
@{
    ViewData["Title"] = "Pokemon";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@Model.Name</title>
        <title>Name</title>
    </head>
    <body>

        <p class="PokemonName">@Model.Name</p>
        <title>@Model.Name</title>
        <title>Name</title>
    </body>
</html>

<link href="*.css" type="text/css" />

