@model Pokemon

@{
    ViewData["Title"] = "Pokemon";
}

<div id="PokeSearch" class="">
    <h1 class="centre"> Sample Search </h1>

    <h2 class="centre"> Type Below To Begin Search </h2>
    <div class="search-area centre">
        <input id="search-input" type="text" placeholder="Type Here"/>
    </div>
    <div class="search-results">
        <p>@Model.Name</p>    
        <p>@Model.Id</p>
    </div>
</div>

<link href="*.css" type="text/css" />
