@model PokemonSearchViewModel

@{
    ViewData["Title"] = "Pokemon";
}

<div id="PokeSearch" class="row">
    <h1 class="centre"> Sample PokeSearch</h1>

    <h2 class="centre"> Type Below To Begin Search </h2>
    <span class="spacer_10"></span>
    <div class="search-area centre">
        <input id="search-input" type="text" placeholder="Type Here"/>
    </div>
    <span class="spacer_20"></span>

    <div class="search-results">
        <div>
            @foreach (var pokemon in Model.PokemonList)
            {
                @Html.Partial("_Pokemon", pokemon)
            }
        </div>
    </div>
</div>

<link href="*.css" type="text/css" />
