@model PokemonSearchViewModel

@{
    ViewData["Title"] = "Pokemon";
}

<div id="PokeSearch" class="row">
    <h1 class="centre"> Sample PokeSearch</h1>

    <h2 class="centre"> Type Below To Begin Search </h2>
    <span class="spacer_10"></span>
    
    <div id="search-area">
        <div class="search search-area centre">
            <input id="search-input" class="search search-input" type="text" placeholder="Type Here"/>
        </div>
        <span class="spacer_20"></span>

        <div class="search-results">
                <ul class="list list-unstyled">
                @foreach (var pokemon in Model.PokemonList)
                {
                   <li>
                        @Html.Partial("_Pokemon", pokemon)
                    </li>
                }
                </ul>
        </div>
    </div>
</div>

<script>
    pokeSearch();  
</script>
