#PokeSearch h1,
#PokeSearch h2 {
  color: #b3a125;
}
#PokeSearch .search-area input {
  color: #b3a125;
  background-color: #3b4cca;
  border-color: #cc0000;
  border-width: 2px;
  border-radius: 15px;
  text-align: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
#PokeSearch .search-area input select,
#PokeSearch .search-area input textarea {
  color: #b3a125;
}
#PokeSearch .search-area input textarea:focus,
#PokeSearch .search-area input input:focus {
  color: #b3a125;
}
#PokeSearch .search-results {
  color: #b3a125;
  font-size: 16px;
}
#PokeSearch .search-results .result {
  overflow: hidden;
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  border-color: #cc0000;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3a125;
  opacity: 1 /* Firefox */;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b3a125;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b3a125;
}
