#PokeSearch h1,
#PokeSearch h2 {
  color: #ffcb05;
}
#PokeSearch .search-area input {
  color: #ffcb05;
  background-color: #2a75bb;
  border-color: #ffcb05;
  border-width: 2px;
  border-radius: 15px;
  text-align: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
#PokeSearch .search-area input select,
#PokeSearch .search-area input textarea {
  color: #ffcb05;
}
#PokeSearch .search-area input textarea:focus,
#PokeSearch .search-area input input:focus {
  color: #ffcb05;
}
#PokeSearch .search-results {
  color: #ffcb05;
  font-size: 16px;
}
#PokeSearch .search-results .result {
  overflow: hidden;
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  border-color: #ffcb05;
}
@media only screen and (max-width: 550px) {
  #PokeSearch .pkm {
    zoom: 0.5;
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffcb05;
  opacity: 1 /* Firefox */;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffcb05;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffcb05;
}
