body {
  background-color: #319398;
}
.centre {
  align-content: center;
  vertical-align: central;
  text-align: center;
}
.spacer_5 {
  display: block;
  height: 5px;
}
.spacer_10 {
  display: block;
  height: 10px;
}
.spacer_20 {
  display: block;
  height: 20px;
}
